.margin-search-bar {
  margin: 10px 20% 32px 20%;
}
.map {
  width: 100%;
  height: 600px;
  // margin: 16px 10px 16px 0px;
  border-radius: 6px;

}

.cards-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

