<h1>All My Bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.plant.name %>
      <%= booking.start_date %> | <%= booking.end_date %>
      <% if policy(booking).show? %>
        <%= link_to "Show", booking_path(booking) %>
      <% end %>
    </li>
  <% end %>
</ul>

