<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/1005058/pexels-photo-1005058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
  <div class="banner-container">
    <h1>Borrow My Cactus</h1>
    <%= link_to new_user_session_path, class: "btn-red" do %> Login <% end %>
  </div>
</div>


