<!-- <div class="banner" style="background-image: url(https://images.pexels.com/photos/1005058/pexels-photo-1005058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
  <h1>Borrow My Cactus</h1>
</div> -->
<h1>Please redirect to your dashboard and sign in!</h1>
<h2>1. Click the cactus at the top</h2>
<h2>2. Sign up or Sign in</h2>
