.btn {
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: inline-block;
  opacity: 1;
  text-decoration: none;
  margin: 20px;
}


.btn-red {
  color: #fff;
  background-color: $red;
}

.btn-red:hover {
  opacity: 0.8;
  color: #fff;
}

.btn-green {
  background-color: $green;
  color: #fff;
}

.btn-green:hover {
  opacity: 0.8;
  color: #fff;
}
/*
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*
    This is the outer svg wrapper that the SVG itself will
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}

/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: $red;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 0.9s all ease;
}

/*
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: $green;
}


