.navbar {
  justify-content: space-between;
}

.navbar-white {
  background: white;
}

.navbar-transparent {
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

h2 {
  font-size: 55px;
}
